In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
%matplotlib inline

In [3]:
import acresults as ac
import numpy as np
import pandas as pd

from functools import reduce
import seaborn as sns
sns.set_style("whitegrid")

In [4]:
AQUACROP_DIR = r"C:\Users\u0101200\Dropbox (Personal)\PhD\crop-water\apps\FAO\AquaCrop"

In [5]:
pnnmuf = ac.ACOutput("P.N.NM.UF", AQUACROP_DIR)
pnwmuf = ac.ACOutput("P.N.WM.UF", AQUACROP_DIR)
prnmuf = ac.ACOutput("P.R.NM.UF", AQUACROP_DIR)
prwmuf = ac.ACOutput("P.R.WM.UF", AQUACROP_DIR)

In [6]:
ac.NIR_chart_month(pnnmuf, '11', '06')

,11,12,01,02,03,04,05,06
Dry,0.0,133.467515,99.763701,95.053591,119.348031,107.891710,71.967699,62.446594
Normal,0.0,112.006897,78.548276,75.841379,93.534483,83.936578,48.542957,61.100000
Wet,0.0,90.546279,57.332850,56.629167,67.720934,58.796203,22.755232,59.753406

In [7]:
ac.NIR_chart_decade(pnnmuf, '12-D1', '05-D3')

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2889: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

,12-D1,12-D2,12-D3,01-D1,01-D2,01-D3,02-D1,02-D2,02-D3,03-D1,03-D2,03-D3,04-D1,04-D2,04-D3,05-D1,05-D2,05-D3
Dry,59.522001,44.328544,40.842143,35.905696,34.949464,41.455644,37.476146,35.653899,32.492786,40.828699,39.307537,44.536509,41.349452,39.051034,36.946217,35.949055,28.731371,28.114775
Normal,48.912265,34.527586,30.900000,26.613793,23.996552,28.249027,26.689655,25.586207,23.565517,28.931034,29.500000,35.103448,32.210529,31.776923,27.986957,28.880283,19.936364,19.800000
Wet,37.085939,24.726629,20.957857,17.321890,13.043640,14.388977,15.903164,15.518515,14.638249,17.033370,19.692463,25.670388,22.619434,24.502812,19.027697,21.098446,11.141356,11.485225

In [31]:
pnnmuf.get_variable('yieldpart')

Variable(df=      run_number        date    DAP  YieldPart
0              1  1987-11-01    1.0      0.000
1              1  1987-11-02    2.0      0.000
2              1  1987-11-03    3.0      0.000
3              1  1987-11-04    4.0      0.000
4              1  1987-11-05    5.0      0.000
5              1  1987-11-06    6.0      0.000
6              1  1987-11-07    7.0      0.000
7              1  1987-11-08    8.0      0.000
8              1  1987-11-09    9.0      0.000
9              1  1987-11-10   10.0      0.000
10             1  1987-11-11   11.0      0.000
11             1  1987-11-12   12.0      0.000
12             1  1987-11-13   13.0      0.000
13             1  1987-11-14   14.0      0.000
14             1  1987-11-15   15.0      0.000
15             1  1987-11-16   16.0      0.000
16             1  1987-11-17   17.0      0.000
17             1  1987-11-18   18.0      0.000
18             1  1987-11-19   19.0      0.000
19             1  1987-11-20   20.0      0.000
20             1  1987-11-21   21.0      0.000
21             1  1987-11-22   22.0      0.000
22             1  1987-11-23   23.0      0.000
23             1  1987-11-24   24.0      0.000
24             1  1987-11-25   25.0      0.000
25             1  1987-11-26   26.0      0.000
26             1  1987-11-27   27.0      0.000
27             1  1987-11-28   28.0      0.000
28             1  1987-11-29   29.0      0.000
29             1  1987-11-30   30.0      0.000
...          ...         ...    ...        ...
5422          29  2016-03-11  132.0      7.770
5423          29  2016-03-12  133.0      8.028
5424          29  2016-03-13  134.0      8.283
5425          29  2016-03-14  135.0      8.533
5426          29  2016-03-15  136.0      8.780
5427          29  2016-03-16  137.0      9.022
5428          29  2016-03-17  138.0      9.260
5429          29  2016-03-18  139.0      9.494
5430          29  2016-03-19  140.0      9.723
5431          29  2016-03-20  141.0      9.948
5432          29  2016-03-21  142.0     10.168
5433          29  2016-03-22  143.0     10.384
5434          29  2016-03-23  144.0     10.595
5435          29  2016-03-24  145.0     10.802
5436          29  2016-03-25  146.0     11.005
5437          29  2016-03-26  147.0     11.203
5438          29  2016-03-27  148.0     11.398
5439          29  2016-03-28  149.0     11.589
5440          29  2016-03-29  150.0     11.777
5441          29  2016-03-30  151.0     11.960
5442          29  2016-03-31  152.0     12.141
5443          29  2016-04-01  153.0     12.318
5444          29  2016-04-02  154.0     12.493
5445          29  2016-04-03  155.0     12.664
5446          29  2016-04-04  156.0     12.833
5447          29  2016-04-05  157.0     12.998
5448          29  2016-04-06  158.0     13.162
5449          29  2016-04-07  159.0     13.323
5450          29  2016-04-08  160.0     13.481
5451          29  2016-04-09  161.0     13.758

[5452 rows x 4 columns], name='YieldPart', unit='ton/ha', description='', project_name='P.N.NM.UF')

In [ ]:
ac.tsplot(pnnmuf, 'CCw')
ac.tsplot(prnmuf, 'CCw')