In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
%matplotlib inline

In [4]:
import acresults as ac
import numpy as np
import pandas as pd

from functools import reduce

In [5]:
AQUACROP_DIR = r"C:\Users\u0101200\Dropbox (Personal)\PhD\crop-water\apps\FAO\AquaCrop"
pnnmuf = ac.ACResults("P.N.NM.UF", AQUACROP_DIR)
pnwnuf = ac.ACResults("P.N.WM.UF", AQUACROP_DIR)
prnmuf = ac.ACResults("P.R.NM.UF", AQUACROP_DIR)

In [6]:
inet = pnnmuf.get("Inet")

In [10]:
fa = ac.NIR_fa(inet, by="month")

In [11]:
ac.NIR_chart_month(fa, "12", "06")

,12,01,02,03,04,05,06
Dry,133.467515,99.763701,95.053591,119.348031,107.891710,71.967699,62.446594
Normal,112.006897,78.548276,75.841379,93.534483,83.936578,48.542957,61.100000
Wet,90.546279,57.332850,56.629167,67.720934,58.796203,22.755232,59.753406

In [12]:
fa = ac.NIR_fa(inet, by="decade")

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2889: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [13]:
ac.NIR_chart_decade(fa, "12-D1", "07-D1")

,12-D1,12-D2,12-D3,01-D1,01-D2,01-D3,02-D1,02-D2,02-D3,03-D1,...,04-D1,04-D2,04-D3,05-D1,05-D2,05-D3,06-D1,06-D2,06-D3,07-D1
Dry,59.522001,44.328544,40.842143,35.905696,34.949464,41.455644,37.476146,35.653899,32.492786,40.828699,...,41.349452,39.051034,36.946217,35.949055,28.731371,28.114775,23.523944,18.664458,25.812892,24.22689
Normal,48.912265,34.527586,30.900000,26.613793,23.996552,28.249027,26.689655,25.586207,23.565517,28.931034,...,32.210529,31.776923,27.986957,28.880283,19.936364,19.800000,19.400000,16.350000,25.350000,20.65000
Wet,37.085939,24.726629,20.957857,17.321890,13.043640,14.388977,15.903164,15.518515,14.638249,17.033370,...,22.619434,24.502812,19.027697,21.098446,11.141356,11.485225,15.276056,14.035542,24.887108,17.07311